<br/>
<br/>
<br/>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <h2>Success!</h2>
      <p>
        <strong>Your name is:</strong>
        <%= @user.name %>
      </p>
      <p>
        <strong>Your email is:</strong>
        <%= @user.email %>
      </p>
      <p>
        <strong>Are you an admin?</strong>
        <%= @user.admin %>
      </p>
    </div>
  <div>
</div>
